.success-section {
    padding: 50px;
}

.success-card {
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(202, 192, 192, 0.568);
}

.success-card h4 {
    opacity: 0.8;
}

.success-card i {
    color: rgb(50, 50, 216);
    font-size: 40px;
}

.succes-navigate button {
    margin: 0px 10px;
}

@media only screen and (max-width: 450px) {
    .succes-navigate button {
        width: 100%;
        text-align: center;
        text-align: center;
        justify-content: center;
        margin: 10px 0px !important;
    }
}