.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FBFCFE;
    z-index: 4;
    border-bottom: 1px solid rgba(0, 128, 0, 0.178);
}

.cart-icon {
    font-size: 30px;
    cursor: pointer;
}

.cart-icon span {
    font-size: 20px;
}

span sup {
    background-color: red;
    padding: 0px 5px;
    top: -20px;
    left: 3px;
    border-radius: 50%;
    margin-left: -10px;
    font-size: 15px;
    color: white;
}

input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid gainsboro;
    outline: none;
    padding: 10px 20px;
}

input:focus {
    border: 1px solid black;
}

/* login area  */

.header-login-btn {
    background-color: #0B6BCB;
    color: whitesmoke;
    padding: 4px 30px;
    border: 2px solid rgb(109, 109, 182);
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 3px 3px 5px rgba(184, 203, 216, 0.938);
    transition: 0.2s ease-in-out;
}

.header-login-btn:hover {
    background-color: #FFFFFF;
    color: #0B6BCB;
}

.head-left a {
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    .header-login-btn {
        font-size: 10px;
        padding: 4px 15px;
    }

    .cart-icon {
        font-size: 25px;
    }

    .cart-icon sup {
        font-size: 14px;
    }

    input {
        padding: 7px 15px;
    }

    .search-input {
        padding: 0px 10px;
    }
}